@mixin adf-toolbar-theme($theme) {
  $foreground: map-get($theme, foreground);

  .adf-viewer {
    .adf-toolbar {
      .mat-toolbar {
        color: mat-color($foreground, text, 0.54);
      }
    }
  }
  .adf-viewer {
    .adf-pdf-viewer{
      .textLayer {
        display: none;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        opacity: 0.2;
        line-height: 1.0;
      }
    }
  }
  .adf-viewer__display-name {
    white-space: break-spaces;
    font-size: 16px;
    opacity: 0.87;
    line-height: 1.5;
    letter-spacing: -0.4px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    max-width: initial;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.87); }

  .adf-toolbar {
    @include angular-material-theme($theme);

    .mat-toolbar-single-row {
      padding: 0 14px;
      height: 48px;
    }

    &.inline {
      .mat-toolbar {
        background-color: inherit;
        border: none !important;
        padding: 0;
      }
    }
  }
}
